@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
:root{
    --martinique:#323357;
    --mariner:#2A5BDA;
    --bright-sun:#FCCC4D;
    --zircon: #F5F8FF;
    --black:#000000;
    --white:#ffffff;
    --mercury:#E5E5E5;
    --comet: #595B71;
}
*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    padding-top: 3rem;
    background-color:var(--mercury);
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
}

.card{
    background-color: var(--white);
    border-radius: 1rem;
    padding:4rem;
    text-align: center;
    filter: drop-shadow(0.1rem 1rem 0.2rem rgba(0, 0, 0, 0.3));
}
.card-title{
    -webkit-text-stroke: 1px var(--black);
    -webkit-text-fill-color:  var(--martinique);
    font-size:3.2rem;
    font-weight: bold;
    filter: drop-shadow(0.1rem 0.25rem 0.1rem rgba(0, 0, 0, 0.5));
}
.card-rating{
    margin: 2rem 0 1rem;
    background-color: var(--zircon);
    border-radius: 4rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ratings{
    display: flex;
    align-items: center;
    grid-gap: 1.2rem;
}
.ratings img{
    width: 3.2rem;
    height: 3.2rem;
}
.card-rating-text{
    font-size: 1.6rem;
    color:var(--martinique);
    font-weight: 400;
}
.rating-count{
    font-size: 1.6rem;
    font-weight: 400;
    color:var(--comet);
}
.rating-percents{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    grid-row-gap: 1.5rem;
}
.rating-percent{
    display: flex;
    justify-content: space-around;
}
.rating-no{
    font-size: 1.8rem;
    font-weight: 400;
    color:var(--mariner);
}
.rating-progress{
    margin:0 .8rem;
    background-color: var(--zircon);
    border-radius: 1.8rem;
    width: 28rem;
    height: 2rem;
    position: relative;
}
.rating-progress::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--bright-sun);
    border-radius: 1.8rem;
}

.rating-percent:nth-child(1) .rating-progress::before{
    width: 84%;
}
.rating-percent:nth-child(2) .rating-progress::before{
    width:calc(2* 9%);
}
.rating-percent:nth-child(3) .rating-progress::before{
    width: calc(2* 4%);
}
.rating-percent:nth-child(4) .rating-progress::before{
    width:calc(2* 2%);
}
.rating-percent:nth-child(5) .rating-progress::before{
    width: calc(2* 1%);
}
.rating-percent-no{
    font-size: 1.8rem;
    color:var(--martinique);
    font-weight: 400;
}
.card-footer-text{
    margin-top: 3rem;
    font-size: 1.6rem;
    color: var(--mariner);
    font-weight: 400;
}